# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
. env/

# Env files
*.env
.env.*

# Flask instance folder
instance/

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/
*.iml

# OS Files
Thumbs.db
.DS_Store
