{% extends "base.html" %}
{% block content %}

{% include 'sidepanel.html' %}
<div class="site-content">
    <!--=================================
         Page Header -->
    <div class="inner-header bg-holder"
        style="background-image: url('{{ url_for('static',filename='images/blog/banner-blog.png') }}');">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-md-12 text-center">
                    <h1 class="title">Blog</h1>
                    <p>When asked the question</p>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">

        <!--=================================
          Blog --><br><br>
        <!-- #starting a 1st block -->
        <section class="space-ptb ellipse-top ellipse-bottom">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-12">
                        <div class="blog-items grid-wrapper grid-xl-3 grid-md-2 grid-sm-1">
                            <div class="blog-post-wrapper blog-style-1">
                                <div class="blog-post-info">
                                    <div class="post-meta">
                                        <div class="post-meta-date">December 12, 2023</div>
                                    </div>
                                    <h5 class="post-title"><a href="{{url_for('blog_detail_marketing_1')}}">How to
                                            Integrate Marketing Tools into Your
                                            Design</a></h5>
                                </div>
                                <div class="blog-post-img"><img class="img-fluid"
                                        src="{{ url_for('static',filename='images/blog/01.jpg') }}" alt="" />
                                </div>
                                <div class="blog-action-info">
                                    <h5 class="post-category"><a
                                            href="{{url_for('blog_detail_marketing_1')}}">Marketing</a></h5>
                                    <div class="post-link">
                                        <a class="btn-arrow" href="{{url_for('blog_detail_marketing_1')}}"><svg
                                                width="17" height="16" viewBox="0 0 17 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_923_133)">
                                                    <path
                                                        d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657"
                                                        stroke="inherit" stroke-width="2" />
                                                    <path d="M15.7602 8.12158H0.1875" stroke="inherit"
                                                        stroke-width="2" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_923_133">
                                                        <rect width="15.904" height="14.8437" fill="inherit"
                                                            transform="translate(0.1875 0.578125)" />
                                                    </clipPath>
                                                </defs>
                                            </svg></a>
                                    </div>
                                </div>
                            </div>
                            <!-- #starting a 2nd block -->
                            <div class="blog-post-wrapper blog-style-1">
                                <div class="blog-post-info">
                                    <div class="post-meta">
                                        <div class="post-meta-date">February 24, 2024</div>
                                    </div>
                                    <h5 class="post-title"><a href="{{ url_for('blog_detail_operations')}}">2024 Top SEO
                                            Features for Marketing Designs</a>
                                    </h5>
                                </div>
                                <div class="blog-post-img"><img class="img-fluid"
                                        src="{{ url_for('static',filename='images/blog/02.jpg') }}" alt="" />
                                </div>
                                <div class="blog-action-info">
                                    <h5 class="post-category"><a
                                            href="{{ url_for('blog_detail_operations')}}">Operations</a></h5>
                                    <div class="post-link">
                                        <a class="btn-arrow" href="{{ url_for('blog_detail_operations')}}"><svg
                                                width="17" height="16" viewBox="0 0 17 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_923_134)">
                                                    <path
                                                        d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657"
                                                        stroke="inherit" stroke-width="2" />
                                                    <path d="M15.7602 8.12158H0.1875" stroke="inherit"
                                                        stroke-width="2" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_923_134">
                                                        <rect width="15.904" height="14.8437" fill="inherit"
                                                            transform="translate(0.1875 0.578125)" />
                                                    </clipPath>
                                                </defs>
                                            </svg></a>
                                    </div>
                                </div>
                            </div>
                            <!-- #starting a 3rd block -->
                            <div class="blog-post-wrapper blog-style-1">
                                <div class="blog-post-info">
                                    <div class="post-meta">
                                        <div class="post-meta-date">May 19, 2024</div>
                                    </div>
                                    <h5 class="post-title"><a href="{{url_for('blog_detail_marketing_2')}}">How can
                                            marketing help your business better?</a>
                                    </h5>
                                </div>
                                <div class="blog-post-img"><img class="img-fluid"
                                        src="{{ url_for('static',filename='images/blog/03.jpg') }}" alt="" />
                                </div>
                                <div class="blog-action-info">
                                    <h5 class="post-category"><a
                                            href="{{url_for('blog_detail_marketing_2')}}">Marketing</a></h5>
                                    <div class="post-link">
                                        <a class="btn-arrow" href="{{url_for('blog_detail_marketing_2')}}"><svg
                                                width="17" height="16" viewBox="0 0 17 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_923_135)">
                                                    <path
                                                        d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657"
                                                        stroke="inherit" stroke-width="2" />
                                                    <path d="M15.7602 8.12158H0.1875" stroke="inherit"
                                                        stroke-width="2" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_923_135">
                                                        <rect width="15.904" height="14.8437" fill="inherit"
                                                            transform="translate(0.1875 0.578125)" />
                                                    </clipPath>
                                                </defs>
                                            </svg></a>
                                    </div>
                                </div>
                            </div>
                            <!-- #starting a 4th block -->
                            <div class="blog-post-wrapper blog-style-1">
                                <div class="blog-post-info">
                                    <div class="post-meta">
                                        <div class="post-meta-date">May 26, 2024</div>
                                    </div>
                                    <h5 class="post-title"><a href="{{url_for('blog_detail_creative')}}">Innovative
                                            Business Marketing Designs</a></h5>
                                </div>
                                <div class="blog-post-img"><img class="img-fluid"
                                        src="{{ url_for('static',filename='images/blog/04.jpg') }}" alt="" />
                                </div>
                                <div class="blog-action-info">
                                    <h5 class="post-category"><a href="{{url_for('blog_detail_creative')}}">Creative</a>
                                    </h5>
                                    <div class="post-link">
                                        <a class="btn-arrow" href="{{url_for('blog_detail_creative')}}"><svg width="17"
                                                height="16" viewBox="0 0 17 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_923_136)">
                                                    <path
                                                        d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657"
                                                        stroke="inherit" stroke-width="2" />
                                                    <path d="M15.7602 8.12158H0.1875" stroke="inherit"
                                                        stroke-width="2" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_923_136">
                                                        <rect width="15.904" height="14.8437" fill="inherit"
                                                            transform="translate(0.1875 0.578125)" />
                                                    </clipPath>
                                                </defs>
                                            </svg></a>
                                    </div>
                                </div>
                            </div>
                            <!-- #starting a 5th block -->
                            <div class="blog-post-wrapper blog-style-1">
                                <div class="blog-post-info">
                                    <div class="post-meta">
                                        <div class="post-meta-date">May 26, 2024</div>
                                    </div>
                                    <h5 class="post-title"><a href="{{url_for('blog_detail_business')}}">Insights
                                            Marketing and Creative Ideas Blog
                                            Hub</a></h5>
                                </div>
                                <div class="blog-post-img"><img class="img-fluid"
                                        src="{{ url_for('static',filename='images/blog/01.jpg') }}" alt="" />
                                </div>
                                <div class="blog-action-info">
                                    <h5 class="post-category"><a href="{{url_for('blog_detail_business')}}">Business</a>
                                    </h5>
                                    <div class="post-link">
                                        <a class="btn-arrow" href="{{url_for('blog_detail_business')}}"><svg width="17"
                                                height="16" viewBox="0 0 17 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_923_137)">
                                                    <path
                                                        d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657"
                                                        stroke="inherit" stroke-width="2" />
                                                    <path d="M15.7602 8.12158H0.1875" stroke="inherit"
                                                        stroke-width="2" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_923_137">
                                                        <rect width="15.904" height="14.8437" fill="inherit"
                                                            transform="translate(0.1875 0.578125)" />
                                                    </clipPath>
                                                </defs>
                                            </svg></a>
                                    </div>
                                </div>
                            </div>
                            <!-- #starting a 6th block -->
                            <div class="blog-post-wrapper blog-style-1">
                                <div class="blog-post-info">
                                    <div class="post-meta">
                                        <div class="post-meta-date">May 26, 2024</div>
                                    </div>
                                    <h5 class="post-title"><a href="{{url_for('blog_detail_development')}}">Boost
                                            Marketing with Effective Design
                                            Integration</a></h5>
                                </div>
                                <div class="blog-post-img"><img class="img-fluid"
                                        src="{{ url_for('static',filename='images/blog/04.jpg') }}" alt="" />
                                </div>
                                <div class="blog-action-info">
                                    <h5 class="post-category"><a
                                            href="{{url_for('blog_detail_development')}}">Development</a></h5>
                                    <div class="post-link">
                                        <a class="btn-arrow" href="{{url_for('blog_detail_development')}}"><svg
                                                width="17" height="16" viewBox="0 0 17 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_923_138)">
                                                    <path
                                                        d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657"
                                                        stroke="inherit" stroke-width="2" />
                                                    <path d="M15.7602 8.12158H0.1875" stroke="inherit"
                                                        stroke-width="2" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_923_138">
                                                        <rect width="15.904" height="14.8437" fill="inherit"
                                                            transform="translate(0.1875 0.578125)" />
                                                    </clipPath>
                                                </defs>
                                            </svg></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=================================
          Blog -->

    </div>
</div>
<br><br>
{% include 'footer.html' %}
{% endblock %}