{% extends "base.html" %}
{% block content %}

{% include 'sidepanel.html' %}
<style>
  .color-for-year{
    color: rgb(255, 255, 255);
  }
</style>
<!--=================================
        Page Header -->
<div class="inner-header bg-holder"
  style="background-image: url('{{ url_for('static', filename='images/banner/inner-header/page-header-02.jpg') }}');">
  <!-- this not error  -->
  <div class="container">
    <div class="row  justify-content-center">

      <div class="col-md-12 text-center">
        <br><br>
        <h1 class="title">About Satvarth</h1>
        <p>Explore the services we deliver with precision and passion.</p>
      </div>
    </div>
  </div>
</div>

<div class="content-wrapper">

  <!--=================================
          About Info -->
  <section class="space-pt z-index-2">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 mb-5 mb-lg-0">
          <div class="section-title pb-0 pb-lg-4">
            <span class="sub-title"><img class="img-fluid logoonly"
                src="{{ url_for('static',filename='images/logoonly.svg') }}" alt=""> About Us</span>
            <h2 class="title"> Your experience is everything to us </h2>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <img class="img-fluid" src="{{ url_for('static',filename='images/about/about-03.jpg') }}" alt="#">
            </div>
            <div class="col-sm-8">
              <p class="ps-lg-3 mt-4 mt-sm-0">You’re not just a user you’re at the heart of everything we do.
                Our team works tirelessly to deliver service you can trust and enjoy.
                If something’s off, we’ll make it right — because your experience matters most.</p>
              <div class="d-flex justify-content-center mt-5 ms-sm-5 ms-0">
                <a class="btn btn-effect" href="#">
                  <span>About Us</span>
                  <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_59_253)">
                      <path
                        d="M19.4854 11.4293L17.0513 12.221C13.1214 13.4993 10.3036 16.9595 9.84784 21.0668C9.49371 16.981 6.71926 13.5081 2.81255 12.2604L0.210283 11.4293"
                        stroke="white" stroke-width="2" />
                      <path d="M9.83594 20.8889L9.83594 0" stroke="white" stroke-width="2" />
                    </g>
                    <defs>
                      <clipPath id="clip0_59_253">
                        <rect width="21.3333" height="20" fill="white" transform="translate(20) rotate(90)" />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="row mt-4 mt-sm-5">
            <div class="col-sm-6">
              <div class="counter counter-style-1">
                <div class="counter-number"><span class="timer mb-0" data-to="160" data-speed="2000">160</span><span
                    class="suffix">+</span></div>
                <div class="counter-info"><span class="counter-title">Business Peoples</span></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="counter counter-style-1">
                <div class="counter-number"><span class="timer mb-0" data-to="100" data-speed="2000">100</span><span
                    class="suffix">%</span></div>
                <div class="counter-info"><span class="counter-title">Customer Satisfaction</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <img class="img-fluid ps-lg-5" src="{{ url_for('static',filename='images/about/about-01.jpg') }}" alt="#">
        </div>
      </div>
    </div>
  </section>
  <!--=================================
          About Info -->

  <!--=================================
          Client Logo -->
  <div class="space-medium-ptb">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="marquee-wrapper">
            <div class="marquee-inner">
              <div class="marquee-item">
                <span class="icon"><img class="img-fluid"
                    src="{{ url_for('static',filename='images/client-logo/brand-icon77.png') }}" alt="" /></span>
                <span class="title">UI/UX Design</span>
              </div>
              <div class="marquee-item">
                <span class="icon"><img class="img-fluid"
                    src="{{ url_for('static',filename='images/client-logo/brand-icon33.png') }}" alt="" /></span>
                <span class="title">Python</span>
              </div>
              <div class="marquee-item">
                <span class="icon"><img class="img-fluid"
                    src="{{ url_for('static',filename='images/client-logo/brand-icon66.png') }}" alt="" /></span>
                <span class="title">NextJS </span>
              </div>
              <div class="marquee-item">
                <span class="icon"><img class="img-fluid"
                    src="{{ url_for('static',filename='images/client-logo/brand-icon22.png') }}" alt="" /></span>
                <span class="title">ReactJS</span>
              </div>
              <div class="marquee-item">
                <span class="icon"><img class="img-fluid"
                    src="{{ url_for('static',filename='images/client-logo/brand-icon88.png') }}" alt="" /></span>
                <span class="title">ThreeJS </span>
              </div>
              <div class="marquee-item">
                <span class="icon"><img class="img-fluid"
                    src="{{ url_for('static',filename='images/client-logo/brand-icon44.png') }}" alt="" /></span>
                <span class="title">Django</span>
              </div>
              <div class="marquee-item">
                <span class="icon"><img class="img-fluid"
                    src="{{ url_for('static',filename='images/client-logo/brand-icon55.png') }}" alt="" /></span>
                <span class="title">Graphic Design</span>
              </div>
              <div class="marquee-item">
                <span class="icon"><img class="img-fluid"
                    src="{{ url_for('static',filename='images/client-logo/brand-icon22.png') }}" alt="" /></span>
                <span class="title">React-Native</span>
              </div>
              <div class="marquee-item">
                <span class="icon"><img class="img-fluid"
                    src="{{ url_for('static',filename='images/client-logo/brand-icon11.png') }}" alt="" /></span>
                <span class="title">Flutter </span>
              </div>
              <div class="marquee-item">
                <span class="icon"><img class="img-fluid"
                    src="{{ url_for('static',filename='images/client-logo/brand-icon99.png') }}" alt="" /></span>
                <span class="title">Shopify </span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--=================================
          Client Logo -->

  <!--=================================
          History -->
  <section class="space-pt bg-black ellipse-top">
    <div class="space-pb ellipse-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="sticky-top" style="top: 80px;">
              <div class="section-title mb-0">
                <span class="sub-title"><img class="img-fluid logoonly"
                    src="{{ url_for('static',filename='images/logoonly.svg') }}" alt=""> Our
                  History</span>
                <h2 class="title">Our Journey</h2>
              </div>
              <p class="mb-5 mb-lg-0 ms-lg-5">True progress begins with a purpose rooted in optimism. While challenges
                shape us, it’s the vision of positive outcomes that drives real, lasting change. Blending resilience
                with aspiration fuels every step of our growth.</p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="history-wrapper">
              <div class="history-year-sm">2021</div>
              <div class="history-info">
                <div class="history-year-lg color-for-year">2021</div>
                <div class="history-content">
                  <!-- <p>They often mean leaving the perception of security in order to discover your personal freedom.
                    These are the changes that will bring happiness and satisfaction into your life. Just go there now.
                  </p> -->
                  <blockquote> <b>The Year of Awakening</b>
                  </blockquote>
                  <p>A time of realization. This year challenged you to re-evaluate your values, goals, and what truly
                    matters. You may have stepped outside your comfort zone for the first time, driven by the desire to
                    find clarity and direction. Seeds of change were planted, and with them, a deeper sense of purpose
                    began to take root.</p>
                </div>
              </div>
            </div>
            <div class="history-wrapper mt-4 mb-4">
              <div class="history-year-sm">2022</div>
              <div class="history-info">
                <div class="history-year-lg">2022</div>
                <div class="history-content">
                  <!-- <p>They often mean leaving the perception of security in order to discover your personal freedom.
                    These are the changes that will bring happiness and satisfaction into your life. Just go there now.
                  </p> -->
                  <blockquote><b>The Year of Foundation</b>
                  </blockquote>
                  <p>With greater self-awareness, 2022 became a year of laying solid groundwork. You began turning ideas
                    into plans, forming habits, and investing in the systems needed for long term success. Whether in
                    career, mindset, health, or relationships, this was the year of preparation quiet but powerful.</p>
                </div>
              </div>
            </div>
            <div class="history-wrapper mt-4 mb-4">
              <div class="history-year-sm">2023</div>
              <div class="history-info">
                <div class="history-year-lg">2023</div>
                <div class="history-content">
                  <!-- <p>They often mean leaving the perception of security in order to discover your personal freedom.
                    These are the changes that will bring happiness and satisfaction into your life. Just go there now.
                  </p> -->
                  <blockquote><b>The Year of Momentum</b>
                  </blockquote>
                  <p>This year marked acceleration. The plans you laid down began to take shape. Wins became more
                    visible, and confidence grew. You faced setbacks too, but by now, resilience was part of your
                    identity. 2023 reminded you that progress isn’t linear but it is always possible when aligned with
                    clear intent.

                  </p>
                </div>
              </div>
            </div>
            <div class="history-wrapper">
              <div class="history-year-sm">2024</div>
              <div class="history-info">
                <div class="history-year-lg">2024</div>
                <div class="history-content">
                  <!-- <p>They often mean leaving the perception of security in order to discover your personal freedom.
                    These are the changes that will bring happiness and satisfaction into your life. Just go there now.
                  </p> -->
                  <blockquote><b>The Year of Transformation</b>
                  </blockquote>
                  <p>A turning point. This year demanded higher standards, deeper focus, and bolder action. You let go
                    of outdated patterns and stepped into a more authentic version of yourself. Transformations internal
                    and external—became undeniable. You weren’t just pursuing your goals anymore; you were embodying
                    them.</p>
                </div>
              </div>
            </div>
            <div class="history-wrapper">
              <div class="history-year-sm">2025</div>
              <div class="history-info">
                <div class="history-year-lg">2025</div>
                <div class="history-content">
                  <!-- <p>They often mean leaving the perception of security in order to discover your personal freedom.
                    These are the changes that will bring happiness and satisfaction into your life. Just go there now.
                  </p> -->
                  <blockquote><b>The Year of Alignment and Expansion</b>
                  </blockquote>
                  <p>This is the year it all begins to feel whole. The choices, discipline, and belief of the past four
                    years now converge. You’re living with more freedom, clarity, and control. Now is the time to scale,
                    refine, and expand not just for yourself, but to uplift those around you. Your journey has become
                    your legacy.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
          History -->

  <!--=================================
          Our Staff -->
  <section class="space-ptb bg-black z-index-2">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6 col-lg-8">
          <div class="section-title mb-lg-0">
            <span class="sub-title"><img class="img-fluid logoonly"
                src="{{ url_for('static',filename='images/logoonly.svg') }}" alt=""> Our Staff</span>
            <h2 class="title mb-0">We don’t just work for you; we connect, collaborate, and deliver with heart.</h2>
          </div>
        </div>
        <div class="col-xxl-6 col-lg-4 align-self-end">
          <p class="mb-0 ps-xxl-5">Don’t wait for the perfect moment. Define your goal, write it out, and start making
            it happen</p>
        </div>
      </div>

      <div class="row mt-xl-5 pt-5">
        <div class="col-md-12">
          <div class="team-boxs grid-wrapper grid-xl-4 grid-lg-3 grid-md-2 grid-sm-2 grid-xs-1">
            <div class="team-item team-style-1">
              <div class="team-img">
                <img class="img-fluid" src="{{ url_for('static',filename='images/team/07.jpg') }}" alt="" />
                <div class="image-overlay"><img class="img-fluid"
                    src="{{ url_for('static',filename='images/team/symbol1.png') }}" alt="" /></div>
              </div>
              <div class="team-info">
                <a href="{{ url_for('o_james_smith') }}" class="team-title">James Smith</a>
                <span class="team-destination">CEO</span>
                <div class="team-social">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="team-item team-style-1">
              <div class="team-img">
                <img class="img-fluid" src="{{ url_for('static',filename='images/team/06.jpg') }}" alt="" />
                <div class="image-overlay"><img class="img-fluid"
                    src="{{ url_for('static',filename='images/team/symbol1.png') }}" alt="" /></div>
              </div>
              <div class="team-info">
                <a href="{{ url_for('o_devid_johnson') }}" class="team-title">Devid Johnson</a>
                <span class="team-destination">CTO</span>
                <div class="team-social">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="team-item team-style-1">
              <div class="team-img">
                <img class="img-fluid" src="{{ url_for('static',filename='images/team/05.jpg') }}" alt="" />
                <div class="image-overlay"><img class="img-fluid"
                    src="{{ url_for('static',filename='images/team/symbol1.png') }}" alt="" /></div>
              </div>
              <div class="team-info">
                <a href="{{ url_for('o_mellissa_doe') }}" class="team-title">Mellissa Doe</a>
                <span class="team-destination">Business Developer</span>
                <div class="team-social">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="team-item team-style-1">
              <div class="team-img">
                <img class="img-fluid" src="{{ url_for('static',filename='images/team/08.jpg') }}" alt="" />
                <div class="image-overlay"><img class="img-fluid"
                    src="{{ url_for('static',filename='images/team/symbol1.png') }}" alt="" /></div>
              </div>
              <div class="team-info">
                <a href="{{ url_for('o_paul_flavius') }}" class="team-title">Paul Flavius</a>
                <span class="team-destination">Project Coordinator</span>
                <div class="team-social">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!--=================================
          Our Staff -->

  <!--=================================
          Our Testimonial -->
  <section class="space-pt testimonial-section overflow-hidden bg-black ellipse-top">
    <div class="space-pb ellipse-bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="section-title text-center">
              <span class="sub-title justify-content-center"><img class="img-fluid logoonly"
                  src="{{ url_for('static',filename='images/logoonly.svg') }}" alt="">Our Testimonial</span>
              <h2 class="title"> Over 50+ clients and 2 00+ projects across the globe.</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col-md-11">
            <div class="owl-carousel slider-overflow" data-cursor-type="text" data-custom-text="Drag"
              data-nav-arrow="false" data-items="2" data-lg-items="1" data-md-items="1" data-sm-items="1"
              data-space="50">
              <div class="item">
                <div class="testimonial-wrapper testimonial-style-2">
                  <div class="testimonial-ratings">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                  <div class="testimonial-quote"><img class="img-fluid"
                      src="{{ url_for('static',filename='images/quote-icon-01.png') }}" alt="" /></div>
                  <div class="testimonial-content">
                    <p>Satvarth Solutions delivered beyond our expectations on time and with excellent quality.
                      Their professionalism was evident in every phase of the project.
                      Truly a dependable team you can count on.</p>
                  </div>
                  <div class="testimonial-author">
                    <div class="author-info">
                      <h6 class="author-name">Key Benefits</h6>
                      <span class="author-position">Administrator</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-wrapper testimonial-style-2">
                  <div class="testimonial-ratings">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                  <div class="testimonial-quote"><img class="img-fluid"
                      src="{{ url_for('static',filename='images/quote-icon-01.png') }}" alt="" /></div>
                  <div class="testimonial-content">
                    <p>Our business saw instant results after working with Satvarth Solutions.
                      The team handled everything efficiently and with full transparency.
                      We couldn't be happier with the outcome.</p>
                  </div>
                  <div class="testimonial-author">
                    <div class="author-info">
                      <h6 class="author-name">Joanna williams</h6>
                      <span class="author-position">CEO</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-wrapper testimonial-style-2">
                  <div class="testimonial-ratings">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                  <div class="testimonial-quote"><img class="img-fluid"
                      src="{{ url_for('static',filename='images/quote-icon-01.png') }}" alt="" /></div>
                  <div class="testimonial-content">
                    <p>Satvarth Solutions understood our vision and translated it into a flawless product.
                      The entire process was smooth and well managed.
                      Highly recommended for business-critical projects.</p>
                  </div>
                  <div class="testimonial-author">
                    <div class="author-info">
                      <h6 class="author-name">Anne Smith</h6>
                      <span class="author-position">Officer</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-wrapper testimonial-style-2">
                  <div class="testimonial-ratings">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                  <div class="testimonial-quote"><img class="img-fluid"
                      src="{{ url_for('static',filename='images/quote-icon-01.png') }}" alt="" /></div>
                  <div class="testimonial-content">
                    <p>ven though we’re in different countries, it felt like we were in the same room.
                      Satvarth Solutions made remote collaboration incredibly easy.
                      Truly a global-quality team.</p>
                  </div>
                  <div class="testimonial-author">
                    <div class="author-info">
                      <h6 class="author-name">John Doe</h6>
                      <span class="author-position">Director</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
          Our Testimonial -->

</div>
</div>
{% include 'footer.html' %}
{% endblock %}