{% extends "base.html" %}
{% block content %}


{% include 'sidepanel.html' %}
<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <meta name="keywords" content="HTML5 Template">
  <meta name="description" content="IT Infinite - IT Solutions and Services Company HTML5 Template">
  <meta name="author" content="potenzaglobalsolutions.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>IT Infinite - IT Solutions and Services Company HTML5 Template</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  <link
    href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper/swiper.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup/magnific-popup.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <!--=================================
    cursor -->
  <div id="cursor">
    <div class="cursor__circle"></div>
  </div>
  <!--=================================
    cursor -->

  <div id="page" class="main">

    <div class="site-content">

      <!--=================================
        Coming Soon -->
      <section class="coming-soon-section bg-holder" style="background-image: url(images/coming-soon.jpg);">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
              <div class="inner-content">
                <br><br>
                <a href="{{ url_for('index') }}"><img class="logo"
                    src="{{ url_for('static',filename='images/logo.svg') }}" alt="#"></a>
                <span class="coming-soon-title">Coming Soon</span>
                {% if launch_date %}
<div id="countdown"
     class="countdown-wrapper countdown-light"
     data-launch="{{ launch_date.isoformat() }}">

  <div class="countdown">
    <span class="days">00</span>
    <p class="days_ref">Days</p>
  </div>

  <div class="countdown">
    <span class="hours">00</span>
    <p class="hours_ref">Hours</p>
  </div>

  <div class="countdown">
    <span class="minutes">00</span>
    <p class="minutes_ref">Minutes</p>
  </div>

  <div class="countdown">
    <span class="seconds">00</span>
    <p class="seconds_ref">Seconds</p>
  </div>

</div>
{% endif %}

                
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
    <script>

      const launchDate = "{{ launch_date.isoformat() }}";  // use in your countdown init
    </script>

    </script>

    <!--=================================
      Back To Top -->
    <div class="back-to-top">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    

  </div>
  <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.appear.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/owl-carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jarallax/jarallax.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jarallax/jarallax-video.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/swiper/swiper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/swiperanimation/SwiperAnimation.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/shuffle/shuffle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/magnific-popup/jquery.magnific-popup.js') }}"></script>
  <script src="{{ url_for('static', filename='js/countdown/jquery.downCount.js') }}"></script>
  <script src="{{ url_for('static', filename='js/counter/jquery.countTo.js') }}"></script>
  <script src="{{ url_for('static', filename='js/gsap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/attractHover.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lenis.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  {% include 'footer.html' %}
  {% endblock %}