{% extends "base.html" %}
{% block content %}


{% include 'sidepanel.html' %}

      <div class="site-content">

      <div class="container-fluid">
        <div class="item-efftect">
           <div class="efftect overflow-hidden"></div>
           <div class="efftect overflow-hidden"></div>
           <div class="efftect overflow-hidden"></div>
           <div class="efftect overflow-hidden"></div>
           <div class="efftect overflow-hidden"></div>
        </div>
      </div>

        <!--=================================
        Page Header -->
        <div class="inner-header bg-holder" style="background-image: url(images/banner/inner-header/page-header-01.jpg);">
          <div class="container">
            <div class="row  justify-content-center">
              <div class="col-md-12 text-center">
                <h1 class="title">Faq</h1>
                <p>Our Expertise. Know more about what we do</p>
              </div>
            </div>
          </div>
        </div>

        <div class="content-wrapper">

          <!--=================================
          Faq -->
          <section class="space-ptb z-index-2 ellipse-bottom">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                  <div class="section-title">
                    <h2 class="title">Frequently Asked Questions</h2>
                    <p>When asked the question, responses will be superficial at best, and at worst, will be what someone else wants for them.</p>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-10">
                  <div class="accordion" id="pgsaccordion">
                    <div class="accordion-item">
                      <h5 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">01. It turned out to be the Hope Diamond?</button>
                      </h5>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#pgsaccordion">
                        <div class="accordion-body">Benjamin Franklin, inventor, statesman, writer, publisher and economist relates in his autobiography that early in his life he decided to focus on arriving at moral perfection. He made a list of 13 virtues, assigning a page to each. Under each virtue he wrote a summary that gave it fuller meaning. Then he practiced each one for a certain length of time. To make these virtues a habit, Franklin can up with a method to grade himself on his daily actions.</div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h5 class="accordion-header" id="headingTwo">
                        <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        02. So why do we do it?</button>
                      </h5>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#pgsaccordion">
                        <div class="accordion-body">Every time he made a fault, he made a mark in the appropriate column. Each week he focused his attention on a different virtue. Over time, through repetition, he hoped to one day experience the pleasure of “viewing a clean Book.” He says that he carried out this personal examination for years. In order to do the work thoroughly he decided to attempt each virtue and a quarter of its importance – one at a time.</div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h5 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">03. I am worried about e-mail scams...</button>
                      </h5>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#pgsaccordion">
                        <div class="accordion-body">Virtue and a quarter of its importance – one at a time. He began with temperance, which included the moderating of every pleasure or inclination to develop undesirable habits, because temperance “tends to procure that coolness and clearance and head that is so necessary where constant vigilance is to be kept up and guard maintained against the unremitting attraction of ancient habits and the force of perpetual temptations.</div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h5 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">04. Why IT Staff Management?</button>
                      </h5>
                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#pgsaccordion">
                        <div class="accordion-body">The other virtues practice in succession by Franklin were silence, order, resolution, frugality, industry, sincerity, Justice, moderation, cleanliness, tranquility, chastity and humility. For the summary order he followed a little scheme of employing his time each day. From five to seven each morning he spent in bodily personal attention, saying a short prayer, thinking over the day’s business and resolutions, studying and eating breakfast. From eight till twelve he worked at his trade.</div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h5 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">05. Believing in yourself and those around you.</button>
                      </h5>
                      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#pgsaccordion">
                        <div class="accordion-body">From twelve to one he read or overlooked his accounts and dined. From two to five he worked at his trade. The rest of the evening until 10 he spent in music, or diversion of some sort. This time is used also to put things in their places. In the last thing before retiring was examination of the day. At the age of 79, he ascribed his health to temperance; the acquisition of misfortune to industry and frugality; the confidence of his country to sincerity and justice.</div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h5 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">06. A short history of equitable compensation</button>
                      </h5>
                      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#pgsaccordion">
                        <div class="accordion-body">Concentrate on your breathing, engage in the moment and spend some time being still, quiet and drift inside of your own mind. Hypnotize yourself here. Step two: Use your imagination to imagine walking down the path of your life. Ok, I know that some of you just cried out “but I can’t visualise!” First up, if you believe you can’t then of course you can’t. Second up, just imagine these things. They do not have to be in cinema screen perfect detail.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--=================================
          Faq -->

          <!--=================================
          Client Logo -->
          <div class="space-small-ptb z-index-2 bg-black">
            <div class="container-fluid p-0">
              <div class="row g-0">
                <div class="col-md-12">
                  <div class="marquee-wrapper">
                    <div class="marquee-inner">
                      <div class="marquee-item">
                        <span class="icon"><img class="img-fluid" src="{{ url_for('static',filename='images/client-logo/brand-icon1.png') }}" alt="" /></span>
                        <span class="title">Web Design</span>
                      </div>
                      <div class="marquee-item">
                        <span class="icon"><img class="img-fluid" src="{{ url_for('static',filename='images/client-logo/brand-icon2.png') }}" alt="" /></span>
                        <span class="title">UI/UX Design</span>
                      </div>
                      <div class="marquee-item">
                        <span class="icon"><img class="img-fluid" src="{{ url_for('static',filename='images/client-logo/brand-icon3.png') }}" alt="" /></span>
                        <span class="title">Developer</span>
                      </div>
                      <div class="marquee-item">
                        <span class="icon"><img class="img-fluid" src="{{ url_for('static',filename='images/client-logo/brand-icon4.png') }}" alt="" /></span>
                        <span class="title">ISO Developer</span>
                      </div>
                      <div class="marquee-item">
                        <span class="icon"><img class="img-fluid" src="{{ url_for('static',filename='images/client-logo/brand-icon5.png') }}" alt="" /></span>
                        <span class="title">Digital Agency</span>
                      </div>
                      <div class="marquee-item">
                        <span class="icon"><img class="img-fluid" src="{{ url_for('static',filename='images/client-logo/brand-icon1.png') }}" alt="" /></span>
                        <span class="title">Web Design</span>
                      </div>
                      <div class="marquee-item">
                        <span class="icon"><img class="img-fluid" src="{{ url_for('static',filename='images/client-logo/brand-icon2.png') }}" alt="" /></span>
                        <span class="title">UI/UX Design</span>
                      </div>
                      <div class="marquee-item">
                        <span class="icon"><img class="img-fluid" src="{{ url_for('static',filename='images/client-logo/brand-icon3.png') }}" alt="" /></span>
                        <span class="title">Developer</span>
                      </div>
                      <div class="marquee-item">
                        <span class="icon"><img class="img-fluid" src="{{ url_for('static',filename='images/client-logo/brand-icon4.png') }}" alt="" /></span>
                        <span class="title">ISO Developer</span>
                      </div>
                      <div class="marquee-item">
                        <span class="icon"><img class="img-fluid" src="{{ url_for('static',filename='images/client-logo/brand-icon5.png') }}" alt="" /></span>
                        <span class="title">Digital Agency</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--=================================
          Client Logo -->

          <!--=================================
          Pricing & Testimonial -->
          <section class="space-pt ellipse-top bg-black z-index-2">
            <div class="space-pb ellipse-bottom">
              <div class="container">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="section-title"><h2 class="title">Choose the plan that’s right for you</h2></div>
                    <div class="ps-xxl-5 ms-0 ms-md-5">
                      <p class="mb-4">It is truly amazing the damage that we, as parents, can inflict on our children. So why do we do it? For the most part, we don’t do it intentionally or with malice.</p>
                        <a class="btn btn-effect" href="#">
                          <span>View All Plan</span>
                          <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_59_253)"><path d="M19.4854 11.4293L17.0513 12.221C13.1214 13.4993 10.3036 16.9595 9.84784 21.0668C9.49371 16.981 6.71926 13.5081 2.81255 12.2604L0.210283 11.4293" stroke="white" stroke-width="2"/><path d="M9.83594 20.8889L9.83594 0" stroke="white" stroke-width="2"/></g><defs><clipPath id="clip0_59_253"><rect width="21.3333" height="20" fill="white" transform="translate(20) rotate(90)"/></clipPath></defs></svg>
                         </a>
                    </div>
                  </div>
                  <div class="col-lg-7 ps-xxl-5">
                    <div class="pgs-accordion pgs-pricing ps-0 ps-lg-5 mt-5 mt-lg-0">
                      <div class="accordion-item">
                        <div class="accordion-header">
                          <div class="package-info">
                            <span class="package-check"><i class="fa-solid fa-check"></i></span>
                            <div class="package-name">
                              <h5 class="package-title">Weekly Package</h5><span class="package-discount">10% Discount</span>
                            </div>
                          </div>
                          <div class="package-price">
                            <h5 class="price">$19</h5><span class="period">/Monthly</span>
                          </div>
                        </div>
                        <div class="accordion-content">
                          <div class="content-inner">
                            <div class="pricing-lists">
                              <ul class="pricing-lists">
                                <li><i class="fa-regular fa-circle-check"></i> Unlimited updates</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom infrastructure</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom permissions</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom infrastructure</li>
                              </ul>
                            </div>
                            <div class="pricing-link">
                              <a href="#"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_1331)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="1"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="1"/></g><defs><clipPath id="clip0_923_1331"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item is-active">
                        <div class="accordion-header">
                          <div class="package-info">
                            <span class="package-check"><i class="fa-solid fa-check"></i></span>
                            <div class="package-name">
                              <h5 class="package-title">Weekly Package</h5><span class="package-discount">15% Discount</span>
                            </div>
                          </div>
                          <div class="package-price">
                            <h5 class="price">$29</h5><span class="period">/Monthly</span>
                          </div>
                        </div>
                        <div class="accordion-content">
                          <div class="content-inner">
                            <div class="pricing-lists">
                              <ul class="pricing-lists">
                                <li><i class="fa-regular fa-circle-check"></i> Unlimited updates</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom infrastructure</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom permissions</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom infrastructure</li>
                              </ul>
                            </div>
                            <div class="pricing-link">
                              <a href="#"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_1332)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="1"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="1"/></g><defs><clipPath id="clip0_923_1332"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <div class="accordion-header">
                          <div class="package-info">
                            <span class="package-check"><i class="fa-solid fa-check"></i></span>
                            <div class="package-name">
                              <h5 class="package-title">Weekly Package</h5><span class="package-discount">18% Discount</span>
                            </div>
                          </div>
                          <div class="package-price">
                            <h5 class="price">$39</h5><span class="period">/Monthly</span>
                          </div>
                        </div>
                        <div class="accordion-content">
                          <div class="content-inner">
                            <div class="pricing-lists">
                              <ul class="pricing-lists">
                                <li><i class="fa-regular fa-circle-check"></i> Unlimited updates</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom infrastructure</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom permissions</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom infrastructure</li>
                              </ul>
                            </div>
                            <div class="pricing-link">
                              <a href="#"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_1333)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="1"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="1"/></g><defs><clipPath id="clip0_923_1333"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </div>
      </div>

{% include 'footer.html' %}
{% endblock %}