{% extends "base.html" %}
{% block content %}

{% include 'sidepanel.html' %}
      <div class="site-content">
        <!--=================================
        Page Header -->
        <div class="inner-header bg-holder" 
        style="background-image: url('{{ url_for('static', filename='images/banner/inner-header/page-header-01.jpg') }}');">      <!-- this not error  -->
        <br>
          <div class="container">
            <div class="row  justify-content-center">
              <div class="col-md-12 text-center box-size">
                <br><br><br><BR>
                <h1 class="title">Services We Provided</h1>
                <p>Award-winning website design & creative digital agency services</p>
              </div>
            </div>
          </div>
        </div>

        <div class="content-wrapper">

          <!--=================================
          Services -->
          <section class="space-ptb ellipse-bottom">
            <div class="container">
              <div class="row justify-content-start">
                <div class="col-lg-12">
                  <div class="services grid-wrapper grid-xl-4 grid-lg-3 grid-md-2 grid-sm-1">

                    <div class="service-wrapper service-style-1"><div class="service-inner">
                      <div class="service-icon">
                       <img class="img-fluid" src=" {{ url_for('static',filename='images/svg/services/Information-Security.svg') }}" alt="#">
                      </div>
                      <div class="bg-icon">
                        <img class="img-fluid" src=" {{ url_for('static',filename='images/svg/services/color-icon/Information-Security.svg') }}" alt="#">
                      </div>
                      <div class="service-content">
                        <h5 class="service-title">Custom Web Application Development</h5>
                        <p>Full-stack web apps using Django, React.js, and Next.js tailored to your business needs.</p>
                        <div class="service-links">
                          <a class="btn-arrow" href="{{url_for('custom_web_app')}}"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_133)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="2"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="2"/></g><defs><clipPath id="clip0_923_133"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                        </div>
                      </div>
                    </div></div>
                    <div class="service-wrapper service-style-1"><div class="service-inner">
                      <div class="service-icon">
                        <img class="img-fluid" src=" {{ url_for('static',filename='images/svg/services/Data-Synchronization.svg') }}" alt="#">
                      </div>
                      <div class="bg-icon">
                        <img class="img-fluid" src=" {{ url_for('static',filename='images/svg/services/color-icon/Data-Synchronization.svg') }}" alt="#">
                      </div>
                      <div class="service-content">
                        <h5 class="service-title">Mobile App Development</h5>
                        <p>Cross-platform apps using React Native and Flutter for Android & iOS.</p>
                        <div class="service-links">
                          <a class="btn-arrow" href="{{url_for('mobile_app_development')}}"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_134)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="2"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="2"/></g><defs><clipPath id="clip0_923_134"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                        </div>
                      </div>
                    </div></div>
                    <div class="service-wrapper service-style-1"><div class="service-inner">
                      <div class="service-icon">
                         <img class="img-fluid" src=" {{ url_for('static',filename='images/svg/services/Mobile-Platforms.svg') }}" alt="#">
                      </div>
                      <div class="bg-icon">
                         <img class="img-fluid" src=" {{ url_for('static',filename='images/svg/services/color-icon/Mobile-Platforms.svg') }}" alt="#">
                      </div>
                      <div class="service-content">
                        <h5 class="service-title">UI/UX Design Services</h5>
                        <p>Intuitive, modern, and user-centric design for web and mobile platforms.</p>
                        <div class="service-links">
                          <a class="btn-arrow" href="{{url_for('ui_ux_design')}}"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_135)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="2"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="2"/></g><defs><clipPath id="clip0_923_135"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                        </div>
                      </div>
                    </div></div>
                    <div class="service-wrapper service-style-1"><div class="service-inner">
                      <div class="service-icon">
                        <img class="img-fluid" src=" {{ url_for('static',filename='images/svg/services/Process-Automation.svg') }}" alt="#">
                      </div>
                      <div class="bg-icon">
                        <img class="img-fluid" src=" {{ url_for('static',filename='images/svg/services/color-icon/Process-Automation.svg') }}" alt="#">
                      </div>
                      <div class="service-content">
                        <h5 class="service-title">3D Web Experiences</h5>
                        <p>Interactive 3D websites and applications using Three.js (3D wardrobe builders, product configurators).</p>
                        <div class="service-links">
                          <a class="btn-arrow" href="{{url_for('three_d_web_experiences')}}"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_136)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="2"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="2"/></g><defs><clipPath id="clip0_923_136"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                        </div>
                      </div>
                    </div>
                   </div>

                    <div class="service-wrapper service-style-1"><div class="service-inner">
                      <div class="service-icon">
                         <img class="img-fluid" src=" {{ url_for('static',filename='images/svg/services/Event-Processing.svg') }}" alt="#">
                      </div>
                      <div class="bg-icon">
                         <img class="img-fluid" src=" {{ url_for('static',filename='images/svg/services/color-icon/Event-Processing.svg') }}" alt="#">
                      </div>
                      <div class="service-content">
                        <h5 class="service-title">E-commerce Solutions</h5>
                        <p>Scalable, secure e-commerce platforms with full admin control and payment gateway integration.</p>
                        <div class="service-links">
                          <a class="btn-arrow" href="{{url_for('ecommerce_solutions')}}"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_137)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="2"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="2"/></g><defs><clipPath id="clip0_923_137"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                        </div>
                      </div>
                    </div></div>
                    <div class="service-wrapper service-style-1"><div class="service-inner">
                      <div class="service-icon">
                        <img class="img-fluid" src=" {{ url_for('static',filename='images/svg/services/Content-Management.svg') }}" alt="#">
                      </div>
                      <div class="bg-icon">
                         <img class="img-fluid" src=" {{ url_for('static',filename='images/svg/services/color-icon/Content-Management.svg') }}" alt="#">
                      </div>
                      <div class="service-content">
                        <h5 class="service-title">API Development & Integration</h5>
                        <p>Secure and scalable RESTful APIs using Python Django and integration with third-party services.</p>
                        <div class="service-links">
                          <a class="btn-arrow" href="{{url_for('api_development_integration')}}"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_138)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="2"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="2"/></g><defs><clipPath id="clip0_923_138"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                        </div>
                      </div>
                    </div></div>
                    <div class="service-wrapper service-style-1"><div class="service-inner">
                      <div class="service-icon">
                         <img class="img-fluid" src=" {{ url_for('static',filename='images/svg/services/Content-Management.svg') }}" alt="#">
                      </div>
                      <div class="bg-icon">
                         <img class="img-fluid" src=" {{ url_for('static',filename='images/svg/services/color-icon/Content-Management.svg') }}" alt="#">
                      </div>
                      <div class="service-content">
                        <h5 class="service-title">Custom CMS & ERP Systems</h5>
                        <p>Tailor-made content management and enterprise resource planning systems for various industries.</p>
                        <div class="service-links">
                          <a class="btn-arrow" href="{{url_for('custom_cms_erp_systems')}}"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_139)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="2"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="2"/></g><defs><clipPath id="clip0_923_139"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                        </div>
                      </div>
                    </div></div>
                    <div class="service-wrapper service-style-1"><div class="service-inner">
                      <div class="service-icon">
                         <img class="img-fluid" src=" {{ url_for('static',filename='images/svg/services/Content-Management.svg') }}" alt="#">
                      </div>
                      <div class="bg-icon">
                        <img class="img-fluid" src=" {{ url_for('static',filename='images/svg/services/color-icon/Content-Management.svg') }}" alt="#">
                      </div>
                      <div class="service-content">
                        <h5 class="service-title">Maintenance & Support</h5>
                        <p>Ongoing technical support, updates, and optimization for your applications and websites.</p>
                        <div class="service-links">
                          <a class="btn-arrow" href="{{url_for('maintenance_support')}}"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_140)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="2"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="2"/></g><defs><clipPath id="clip0_923_140"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                        </div>
                      </div>
                    </div>
                   </div>


                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--=================================
          Services -->

        </div>
      </div>

<style>
  /* ======================================
   GLOBAL THEME
====================================== */
:root {
    --blue-dark: #00152c;
    --blue-overlay: rgba(0, 40, 80, 0.75);
    --blue-accent: #4da8ff;
    --text-light: #d9e7f5;
}

/* PAGE BACKGROUND */
.vision-page {
    background: #000e1d;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}


/* ======================================
   HERO SECTION (LIKE YOUR SERVICES PAGE)
====================================== */
.vision-hero-section {
    position: relative;
    padding: 150px 0 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.vision-hero-section .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.8)
    );
}

.vision-hero-section .container {
    position: relative;
    z-index: 2;
}

.vision-title {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #ffffff;
}

.vision-subtitle {
    color: var(--text-light);
    font-size: 18px;
    max-width: 650px;
    margin: 0 auto;
}


/* ======================================
   MAIN SECTION (LEFT TEXT + RIGHT IMAGE)
====================================== */
.vision-main {
    padding: 90px 0;
    background: #000814;
}

.vision-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.vision-label {
    color: var(--blue-accent);
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
}

.vision-left h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 18px 0 20px;
}

.vision-left p {
    color: var(--text-light);
    line-height: 1.7;
    margin-bottom: 15px;
}

.vision-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 25px;
    border-radius: 50px;
    font-weight: 600;
    color: var(--blue-accent);
    border: 1px solid var(--blue-accent);
    transition: all 0.3s ease;
}

.vision-btn:hover {
    background: var(--blue-accent);
    color: #001020;
}


/* RIGHT IMAGE */
.vision-img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 150, 255, 0.3);
}


/* ======================================
   RESPONSIVE
====================================== */
@media (max-width: 992px) {
    .vision-row {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .vision-left h2 {
        font-size: 32px;
    }

    .vision-img {
        margin-top: 20px;
    }

    .vision-title {
        font-size: 38px;
    }
}

</style>
{% include 'footer.html' %}
{% endblock %}