<div class="offcanvas offcanvas-end sidepanel-offcanvas" tabindex="-1" id="offcanvasRight">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <div class="offcanvas-body lenis-scroll-disable">
    <div class="body-inner">
      <div class="about-info">
        <h4 class="title mb-3">Your Tech Partner for Scalable, Smart Solutions</h4>
        <p>At Satvarth, we blend innovation with functionality to craft seamless digital experiences...</p>
      </div>
      <div class="socail-info">
        <ul class="socail-list-item">
          <li><a href="#"><i class="fa-brands fa-facebook-f"></i>Facebook</a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
          <li><a href="#"><i class="fa-brands fa-x-twitter"></i>Twitter</a></li>
          <li><a href="#"><i class="fa-brands fa-google"></i>Google</a></li>
        </ul>
      </div>
      <div class="contact-info">
        <span class="number">+1 234 567 8910</span>
        <a class="mail" href="#"><i class="fa-regular fa-envelope"></i>info@satvarth.com</a>
        <span class="text">Looking for collaboration for your next creative project?</span>
      </div>
    </div>
  </div>
</div>
