{% extends "base.html" %}
{% block content %}


{% include 'sidepanel.html' %}


      <div class="site-content">
        <!--=================================
        Page Header -->
        <div class="inner-header bg-holder" style="background-image: url('{{ url_for('static',filename='images/banner/inner-header/page-header-01.jpg') }}')';">
          <div class="container">
            <div class="row  justify-content-center">
              <div class="col-md-12 text-center">
                <h1 class="title">Meet Our Team</h1>
                <p>Let success motivate you.</p>
              </div>
            </div>
          </div>
        </div>
<br><br>
        <div class="content-wrapper">

          <!--=================================
          Our Staff -->
          <section class="space-ptb">
            <div class="container">
              <div class="row">
                <div class="col-xxl-6 col-lg-8">
                  <div class="section-title mb-lg-0">
                    <span class="sub-title"><img class="img-fluid" src="{{ url_for('static',filename='images/subtitle-icon.png') }}" alt=""> Our Staff</span>
                    <h2 class="title mb-0">Our team is friendly, talkative, and fully reliable.</h2>
                  </div>
                </div>
                 <div class="col-xxl-6 col-lg-4 align-self-end">
                  <p class="mb-0 ps-xxl-5">So, make the decision to move forward. Commit your decision to paper, just to bring it into focus. Then, go for it!</p>
                 </div>
              </div>

              <div class="row mt-xl-5 pt-5">
                <div class="col-md-12">
                  <div class="team-boxs grid-wrapper grid-xl-4 grid-lg-3 grid-md-2 grid-sm-2 grid-xs-1">
                    <div class="team-item team-style-1">
                      <div class="team-img">
                        <img class="img-fluid" src="{{ url_for('static',filename='images/team/01.jpg') }}" alt="" />
                        <div class="image-overlay"><img class="img-fluid" src="{{ url_for('static',filename='images/team/symbol.png') }}" alt="" /></div>
                      </div>
                      <div class="team-info">
                        <a href="{{ url_for('anne_smith') }}" class="team-title">Anne Smith</a>
                        <span class="team-destination">Senior Software Engineer</span>
                        <div class="team-social">
                          <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="team-item team-style-1">
                      <div class="team-img">
                        <img class="img-fluid" src="{{ url_for('static',filename='images/team/02.jpg') }}" alt="" />
                        <div class="image-overlay"><img class="img-fluid" src="{{ url_for('static',filename='images/team/symbol.png') }}" alt="" /></div>
                      </div>
                      <div class="team-info">
                        <a href="{{ url_for('john_doe') }}" class="team-title">John Doe</a>
                        <span class="team-destination">IT Project Manager</span>
                        <div class="team-social">
                          <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="team-item team-style-1">
                      <div class="team-img">
                        <img class="img-fluid" src="{{ url_for('static',filename='images/team/03.jpg') }}" alt="" />
                        <div class="image-overlay"><img class="img-fluid" src="{{ url_for('static',filename='images/team/symbol.png') }}" alt="" /></div>
                      </div>
                      <div class="team-info">
                        <a href="{{ url_for('mellissa_doe') }}" class="team-title">Mellissa Doe</a>
                        <span class="team-destination">Network Engineer</span>
                        <div class="team-social">
                          <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="team-item team-style-1">
                      <div class="team-img">
                        <img class="img-fluid" src="{{ url_for('static',filename='images/team/04.jpg') }}" alt="" />
                        <div class="image-overlay"><img class="img-fluid" src="{{ url_for('static',filename='images/team/symbol.png') }}" alt="" /></div>
                      </div>
                      <div class="team-info">
                        <a href="{{ url_for('paul_flavius') }}" class="team-title">Paul Flavius</a>
                        <span class="team-destination">Frontend Developer</span>
                        <div class="team-social">
                          <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="team-item team-style-1">
                      <div class="team-img">
                        <img class="img-fluid" src="{{ url_for('static',filename='images/team/05.jpg') }}" alt="" />
                        <div class="image-overlay"><img class="img-fluid" src="{{ url_for('static',filename='images/team/symbol.png') }}" alt="" /></div>
                      </div>
                      <div class="team-info">
                        <a href="{{ url_for('michael_davis') }}" class="team-title">Michael Davis</a>
                        <span class="team-destination">Data Analyst</span>
                        <div class="team-social">
                          <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="team-item team-style-1">
                      <div class="team-img">
                        <img class="img-fluid" src="{{ url_for('static',filename='images/team/06.jpg') }}" alt="" />
                        <div class="image-overlay"><img class="img-fluid" src="{{ url_for('static',filename='images/team/symbol.png') }}" alt="" /></div>
                      </div>
                      <div class="team-info">
                        <a href="{{ url_for('samantha_brown') }}" class="team-title">Samantha Brown</a>
                        <span class="team-destination">Quality Assurance</span>
                        <div class="team-social">
                          <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="team-item team-style-1">
                      <div class="team-img">
                        <img class="img-fluid" src="{{ url_for('static',filename='images/team/07.jpg') }}" alt="" />
                        <div class="image-overlay"><img class="img-fluid" src="{{ url_for('static',filename='images/team/symbol.png') }}" alt="" /></div>
                      </div>
                      <div class="team-info">
                        <a href="{{ url_for('kevin_lee') }}" class="team-title">Kevin Lee</a>
                        <span class="team-destination"> IT Support</span>
                        <div class="team-social">
                          <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="team-item team-style-1">
                      <div class="team-img">
                        <img class="img-fluid" src="{{ url_for('static',filename='images/team/08.jpg') }}" alt="" />
                        <div class="image-overlay"><img class="img-fluid" src="{{ url_for('static',filename='images/team/symbol.png') }}" alt="" /></div>
                      </div>
                      <div class="team-info">
                        <a href="{{ url_for('ashley_williams') }}" class="team-title">Ashley Williams</a>
                        <span class="team-destination"> Systems Administrator</span>
                        <div class="team-social">
                          <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </section>
          <!--=================================
          Our Staff -->

                    <!--=================================
          Our Testimonial -->
          <section class="space-pt testimonial-section overflow-hidden ellipse-top">
            <div class="space-pb ellipse-bottom">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-10">
                    <div class="section-title text-center">
                      <span class="sub-title justify-content-center"><img class="img-fluid" src="{{ url_for('static',filename='images/subtitle-icon.png') }}" alt=""> Our Testimonial</span>
                      <h2 class="title"> Over 500 clients and 5,000 projects across the globe.</h2>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-start">
                  <div class="col-md-11">
                    <div class="owl-carousel slider-overflow" data-cursor-type="text" data-custom-text="Drag" data-nav-arrow="false" data-items="2" data-lg-items="1" data-md-items="1" data-sm-items="1" data-space="50">
                      <div class="item">
                        <div class="testimonial-wrapper testimonial-style-2">
                          <div class="testimonial-ratings">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                          </div>
                          <div class="testimonial-quote"><img class="img-fluid" src="{{ url_for('static',filename='images/quote-icon-01.png') }}" alt="" /></div>
                          <div class="testimonial-content">
                            <p>The IT-Hub database has been one of our current sources for recruitment, backed by a very experienced team who would go out of their way to make sure that requests are taken ahead.</p>
                          </div>
                          <div class="testimonial-author">
                            <div class="author-info">
                              <h6 class="author-name">Key Benefits</h6>
                              <span class="author-position">Administrator</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="testimonial-wrapper testimonial-style-2">
                          <div class="testimonial-ratings">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                          </div>
                          <div class="testimonial-quote"><img class="img-fluid" src="{{ url_for('static',filename='images/quote-icon-01.png') }}" alt="" /></div>
                          <div class="testimonial-content">
                            <p>The IT-Hub database has been one of our current sources for recruitment, backed by a very experienced team who would go out of their way to make sure that requests are taken ahead.</p>
                          </div>
                          <div class="testimonial-author">
                            <div class="author-info">
                              <h6 class="author-name">Joanna williams</h6>
                              <span class="author-position">Consultant</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="testimonial-wrapper testimonial-style-2">
                          <div class="testimonial-ratings">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                          </div>
                          <div class="testimonial-quote"><img class="img-fluid" src="{{ url_for('static',filename='images/quote-icon-01.png') }}" alt="" /></div>
                          <div class="testimonial-content">
                            <p>The IT-Hub database has been one of our current sources for recruitment, backed by a very experienced team who would go out of their way to make sure that requests are taken ahead.</p>
                          </div>
                          <div class="testimonial-author">
                            <div class="author-info">
                              <h6 class="author-name">Anne Smith</h6>
                              <span class="author-position">Officer</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="testimonial-wrapper testimonial-style-2">
                          <div class="testimonial-ratings">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                          </div>
                          <div class="testimonial-quote"><img class="img-fluid" src="{{ url_for('static',filename='images/quote-icon-01.png') }}" alt="" /></div>
                          <div class="testimonial-content">
                            <p>The IT-Hub database has been one of our current sources for recruitment, backed by a very experienced team who would go out of their way to make sure that requests are taken ahead.</p>
                          </div>
                          <div class="testimonial-author">
                            <div class="author-info">
                              <h6 class="author-name">John Doe</h6>
                              <span class="author-position">Director</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--=================================
          Our Testimonial -->

        </div>
      </div>

      {% include 'footer.html' %}
{% endblock %}