{% extends "base.html" %}
{% block content %}


{% include 'sidepanel.html' %}

      <!--=================================
      Main Site Content -->
      <div class="site-content">
        <!--=================================
        Page Header -->
        <div class="inner-header bg-holder" style="background-image: url('{{ url_for('static',filename='images/banner/inner-header/page-header-01.jpg') }}')';">
          <div class="container">
            <div class="row  justify-content-center">
              <div class="col-md-12 text-center">
                <h2 class="title">Typography</h2>
                <ul class="breadcrumb mb-0 p-0">
                  <li class="breadcrumb-item active"><a href="{{ url_for('index') }}">Home</a></li>
                  <li class="breadcrumb-item"><span>Typography</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="content-wrapper">

          <!--=================================
          Typography -->
          <section class="space-ptb">
            <div class="container">
              <div class="row">
                <div class="col-lg-11">
                  <div class="section-title">
                    <h1 class="title">Heading H1</h1>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  </div>
                  <div class="section-title">
                    <h2 class="title">Heading H2</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  </div>
                  <div class="section-title">
                    <h3 class="title">Heading H3</h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  </div>
                  <div class="section-title">
                    <h4 class="title">Heading H4</h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  </div>
                  <div class="section-title">
                    <h5 class="title">Heading H5</h5>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  </div>
                  <div class="section-title mb-0">
                    <h6 class="title">Heading H6</h6>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 mt-5 mb-5"><hr></div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="section-title">
                    <h3 class="title">Standard Inline Elements</h3>
                  </div>
                  <p><strong>Bold text</strong> dolor sit amet, consectetur <a href="#">link color</a> adipisicing elit, accent text sed do eiusmod tempor hovered. Excepteur <span class="text-accent-bg">accent background</span> It has survived not only five centuries, cupidatat non proident officia sunt in culpa qui deserunt mest laborum.</p>
                  <p><em>Example</em> iste natus error sit voluptatem italic text example doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo vei&nbsp;<span class="text-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">tooltip example</span> architecto It has survived not only five centuries beatae explicabo.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 mt-5 mb-5"><hr></div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="section-title">
                    <h3 class="title">Dropcaps</h3>
                  </div>
                  <p><span class="dropcap-style-1">A</span>ll the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
                  <p><span class="dropcap-style-2">C</span>ontrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical, discovered the undoubtable source.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 mt-5 mb-5"><hr></div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="section-title">
                    <h3 class="title">Blockquote</h3>
                  </div>
                  <blockquote><p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p><cite>Demon Cats</cite></blockquote>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 mt-5 mb-5"><hr></div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="section-title">
                    <h3 class="title">List Styles</h3>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <h5>List Style None</h5>
                  <div class="list-wrapper">
                    <ul class="list list-style-none">
                      <li>Reviewing any branding</li>
                      <li>Developing cillum strategy</li>
                      <li>Duis aute in reprehenderit</li>
                      <li>Sunt qui officia deserunt</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3">
                  <h5>List Style Disc</h5>
                  <div class="list-wrapper">
                    <ul class="list list-style-disc">
                      <li>Reviewing any branding</li>
                      <li>Developing cillum strategy</li>
                      <li>Duis aute in reprehenderit</li>
                      <li>Sunt qui officia deserunt</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3">
                  <h5>List Style Image</h5>
                  <div class="list-wrapper">
                    <ul class="list">
                      <li><i class="icon"><img class="img-fluid" src="{{ url_for('static',filename='images/icon-location.png') }}" alt=""></i><a href="#">Reviewing any branding</a></li>
                      <li><i class="icon"><img class="img-fluid" src="{{ url_for('static',filename='images/icon-phone-call.png') }}" alt=""></i><a href="#">Developing cillum strategy</a></li>
                      <li><i class="icon"><img class="img-fluid" src="{{ url_for('static',filename='images/icon-email.png') }}" alt=""></i><a href="#">Duis aute in reprehenderit</a></li>
                      <li><i class="icon"><img class="img-fluid" src="{{ url_for('static',filename='images/icon-location.png') }}" alt=""></i><a href="#">Sunt qui officia deserunt</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3">
                  <h5>List Style Icon</h5>
                  <div class="list-wrapper">
                    <ul class="list">
                      <li><i class="fa-regular fa-circle-right"></i><a href="#">Reviewing any branding</a></li>
                      <li><i class="fa-regular fa-circle-right"></i><a href="#">Developing cillum strategy</a></li>
                      <li><i class="fa-regular fa-circle-right"></i><a href="#">Duis aute in reprehenderit</a></li>
                      <li><i class="fa-regular fa-circle-right"></i><a href="#">Sunt qui officia deserunt</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 mt-5 mb-5"><hr></div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="section-title">
                    <h3 class="title">Button</h3>
                  </div>
                </div>
                <div class="row align-items-center">
                 <div class="col">
                    <a class="btn btn-effect" href="#"><span>About Us</span></a>
                 </div>
                 <div class="col">
                    <a class="btn btn-dark btn-effect" href="#"><span>About Us</span></a>
                 </div>
                 <div class="col">
                    <a class="btn arrow-down btn-effect" href="#"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_133)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="1"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="1"/></g><defs><clipPath id="clip0_923_133"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                 </div>
                 <div class="col">
                    <a class="btn btn-dark arrow-down btn-effect" href="#"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_1332)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="1"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="1"/></g><defs><clipPath id="clip0_923_1332"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                 </div>
                 <div class="col">
                    <a class="btn-arrow" href="#"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_1333)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="2"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="2"/></g><defs><clipPath id="clip0_923_1333"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                 </div>
                 <div class="col">
                    <a class="btn-arrow btn-dark" href="#"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_1334)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="2"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="2"/></g><defs><clipPath id="clip0_923_1334"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                 </div>
                </div>
              </div>
            </div>
          </section>
          <!--=================================
          End : Typography -->

          <!--=================================
          Section Title -->
          <section class="space-pb ellipse-bottom">
            <div class="container">
              <div class="row">
                <div class="col-xl-8 col-lg-12">
                  <div class="section-title">
                    <h2 class="title">Coworking is growing and hybridizing so fast</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-2 col-md-1"></div>
                <div class="col-xl-6 col-lg-7 col-md-8">
                  <p>There is really no magic to it and it’s not reserved only for a select few people. As such, success really has nothing to do with luck, coincidence or fate. It really comes down to understanding the steps in the process and then executing on those steps.</p>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 mt-3 mt-md-0 text-start text-md-end">
                  <a class="btn btn-effect" href="#"><span>Explore All</span></a>
                </div>
              </div>
            </div>
          </section>
          <!--=================================
          End : Section Title -->

        </div>
      </div>

  


      {% include 'footer.html' %}
{% endblock %}